.block-wrapper {
    position: relative;
}
.calc-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5D5FEF;
    padding: 24px 30px 25px;
    border-radius: 6px;
    width: 232px;
    height: 72px;
    color: white;
}